MadNeptun.DistributedExample/MadNeptun.DistributedExample.Logic/Web References/NetworkWebService/NetworkNodeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Receive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sender" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveSoapIn">
    <wsdl:part name="parameters" element="tns:Receive" />
  </wsdl:message>
  <wsdl:message name="ReceiveSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveResponse" />
  </wsdl:message>
  <wsdl:portType name="NetworkNodeServiceSoap">
    <wsdl:operation name="Receive">
      <wsdl:input message="tns:ReceiveSoapIn" />
      <wsdl:output message="tns:ReceiveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetworkNodeServiceSoap" type="tns:NetworkNodeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Receive">
      <soap:operation soapAction="http://tempuri.org/Receive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetworkNodeServiceSoap12" type="tns:NetworkNodeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Receive">
      <soap12:operation soapAction="http://tempuri.org/Receive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NetworkNodeService">
    <wsdl:port name="NetworkNodeServiceSoap" binding="tns:NetworkNodeServiceSoap">
      <soap:address location="http://localhost:4154/NetworkNodeService.asmx" />
    </wsdl:port>
    <wsdl:port name="NetworkNodeServiceSoap12" binding="tns:NetworkNodeServiceSoap12">
      <soap12:address location="http://localhost:4154/NetworkNodeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>